@{
    ViewBag.Title = "Start";
}

<div class="jumbotron">
    <h1>BokningsProjekt</h1>
    <p class="lead">Det här är ett projekt som görs av Tim och Sebastian i samarbete med:</p>
    <p><a href="https://boka.se" class="btn btn-primary btn-lg">boka.se &raquo;</a></p>
</div>
