@model TestSup.Controllers.BookingIndexViewModel


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Användarnamn")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        
    </tr>
    @foreach (var item in Model.Bookings)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>   
        </tr>
    }
</table>


