@model IEnumerable<Logic.BookingSystem>

@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SystemName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SystemName)
            </td>
        </tr>
    }

</table>
