@model TestSup.Controllers.RecBookingSys

@{
    ViewBag.Title = "RecBookingSys";
}

@foreach (var item in Model.BookSys)
{

<div>
    @Html.ActionLink(item.SystemName, "Details", "BookingSystems", new { id = item.Id }, null)
</div>

}
